<!DOCTYPE html>
<html>
  <head>
    <title>{{CANVAS_NAME}} - Dark</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />

    <!-- Preconnect to hosts we use -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="preconnect" href="//{{STATIC}}/" />
    <link rel="preconnect" href="//{{STATIC}}/" crossorigin />

    <!-- Preload all files async -->
    <link
      rel="preload"
      as="style"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css?family=Fira+Code|Fira+Mono|Source+Sans+Pro&display=swap"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="preload"
      as="style"
      href="//{{STATIC}}/app.css"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="script"
      href="//{{STATIC}}/app.js"
      crossorigin="anonymous"
    />
    <!-- Preloading there API calls is very delicate, they must match exactly and we
    have very limited control over the headers -->
    <link
      rel="preload"
      href="/api/{{CANVAS_NAME}}/v1/packages"
      as="fetch"
      crossorigin
    />
    <link
      rel="preload"
      href="/api/{{CANVAS_NAME}}/v1/initial_load"
      as="fetch"
      crossorigin
    />

    <!-- Actually load the files -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Code|Fira+Mono|Source+Sans+Pro&display=swap"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//{{STATIC}}/app.css"
      crossorigin="anonymous"
    />

    <!-- prevent favicon requests for now -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="//{{STATIC}}/favicon-32x32.png"
    />
    {{LIVERELOADJS}}
    <script type="text/javascript">
      const heapioID = "{{HEAPIO_ID}}";
      const rollbarConfig = {{ROLLBARCONFIG}};
      const pusherConfig = {{PUSHERCONFIG}};
      const complete = {{ALLFUNCTIONS}};
      const userContentHost = "{{USER_CONTENT_HOST}}";
      const environmentName = "{{ENVIRONMENT_NAME}}";
      const username = "{{USER_USERNAME}}";
      const userEmail = "{{USER_EMAIL}}";
      const userFullname = "{{USER_FULLNAME}}";
      const userCreatedAt = new Date({{USER_CREATED_AT_UNIX_MSTS}});
      const userIsAdmin = {{USER_IS_ADMIN}};
      const userID = "{{USER_ID}}";
      const canvasID = "{{CANVAS_ID}}";
      const canvasName = "{{CANVAS_NAME}}";
      const csrfToken = "{{CSRF_TOKEN}}";
      const staticUrl = "{{STATIC}}";
      const buildHash = "{{BUILD_HASH}}";
      const hashReplacements = {{HASH_REPLACEMENTS}};
    </script>
    <!-- Must be defer, not async, as we use the DOMContentsLoaded event -->
    <script
      defer
      type="text/javascript"
      src="//{{STATIC}}/app.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script
      type="text/javascript"
      src="//{{STATIC}}/blazor/blazor.webassembly.js"
      autostart="false"
    ></script> -->
    <script>
      let appRoot = `${window.location.protocol}//${staticUrl}`;

      function toDarklangSetupUri(file) {
        file = file.replace(/_framework\//, "");
        file = "/blazor/" + file;
        let hashed = hashReplacements[file];
        if (hashed) {
          // Remove the starting slash
          hashed = hashed.substring(1);
        } else {
          hashed = file;
        }
        return `${appRoot}/${hashed}`;
      }

      function startBlazor() {
        Blazor.start({
          loadBootResource: function (type, name, defaultUri, integrity) {
            let url = toDarklangSetupUri(defaultUri);
            switch (type) {
              case 'dotnetjs':
                return url;
              case 'dotnetwasm':
              case 'timezonedata':
              default:
                let response = fetch(url, {
                  cache: "no-cache",
                  integrity: integrity//undefined//bootConfig.cacheBootResources ? contentHash : undefined,
                });
                return response
            }
          }
        })
      }

      function maybeCallback(arg) {
        console.log("maybeCallback", arg)
      }

      function tryUsingBlazorStuff() {
        DotNet.invokeMethod("Wasm", "InitializeDarkRuntime")
        DotNet.invokeMethod("Wasm", "OnMessage", '["AnalyzeHandler",{"requestID":0,"requestTime":"2023-01-19T17:22:00Z","handler":{"tlid":924103396,"pos":{"x":0,"y":0},"ast":["EInfix",83939007,["InfixFnCall",{"module_":null,"function_":"+"},["NoRail"]],["EInteger",544083728,2],["EInteger",1532953851,3]],"spec":["REPL","violentTamarin",{"moduleID":1140285041,"nameID":1133375669,"modifierID":102736908}]},"traceID":"7d495105-946f-5ad8-8db9-4fd70e6eff67","traceData":{"input":[],"timestamp":"1970-01-01T00:00:00Z","functionResults":[]},"dbs":[],"userFns":[],"userTypes":[],"packageFns":[],"secrets":[]}]')

        // const initFn = Module.mono_bind_static_method(
        //   "[Wasm]Wasm.Analysis.EvalWorker:InitializeDarkRuntime",
        // );
        // initFn();

        // // Setup the onmessage handler to call F#
        // const messageHandler = Module.mono_bind_static_method(
        //   "[Wasm]Wasm.Analysis.EvalWorker:OnMessage",
        // );

        // // set up listener for response - likely broken
        // self.onmessage = msg => {
        //   console.log("got message", msg)
        // }

        //messageHandler('["AnalyzeHandler",{"requestID":0,"requestTime":"2023-01-19T17:22:00Z","handler":{"tlid":924103396,"pos":{"x":0,"y":0},"ast":["EInfix",83939007,["InfixFnCall",{"module_":null,"function_":"+"},["NoRail"]],["EInteger",544083728,2],["EInteger",1532953851,3]],"spec":["REPL","violentTamarin",{"moduleID":1140285041,"nameID":1133375669,"modifierID":102736908}]},"traceID":"7d495105-946f-5ad8-8db9-4fd70e6eff67","traceData":{"input":[],"timestamp":"1970-01-01T00:00:00Z","functionResults":[]},"dbs":[],"userFns":[],"userTypes":[],"packageFns":[],"secrets":[]}]');
      }
    </script>
  </head>
  <body onKeyDown="stopKeys(event)" onKeyUp="stopKeys(event)"></body>
</html>
